<div class="row">
    <div class="col-3">
        <select [(ngModel)]="selectedCaste" class="form-select">
            <option>ABC Cast</option>
            <option>DEF Cast</option>
            <option>MNO Cast</option>
            <option>Other</option>
        </select>
    </div>
    <div class="col-3">
        @if (selectedCaste == 'Other') {
        <input type="text" class="form-control" placeholder="Other Value">
        } @else if (selectedCaste == 'MNO Cast') {
        <span>MNO</span>
        } @else if (selectedCaste == 'DEF Cast') {
        <span>DEF</span>
        } @else if (selectedCaste == 'ABC Cast') {
        <span>ABC</span>
        } @else {
        <span>Select Cast</span>
        }
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4">
        @if (isStudentActive() == true) {
        <span class="text-success">Student is Active</span>
        } @else {
        <span class="text-danger">Student is De-Active</span>
        }
    </div>

    <div class="col-4">
        <button class="btn btn-success" (click)="changeStatus(true)">Make Active</button>
        <button class="btn btn-warning mx-2" (click)="changeStatus(false)">Make De-Active</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            @for (item of cityList; track $index) {
            <li> {{item}}</li>
            }
        </ul>
    </div>
    <div class="col-3">
        @for (item of cityList; track $index) {
        <textarea [value]="item"></textarea>
        }
    </div>
</div>

<div class="row">
    <div class="col-4">
        <table class="table tbale-bordered">
            <thead>
                <tr>
                    <th>Sr NO</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of studentList; track $index) {
                <tr>
                    <td>{{$index+1}}</td>
                    <td>
                        {{item.name}}
                    </td>
                    <td> {{item.city}}</td>
                    <td>
                        {{item.status ? 'Active':'De-Active'}}
                    </td>
                    <td>
                        @if (item.status == true) {
                        <h6>Active </h6>
                        } @else {
                        <span>De-Active</span>
                        }
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>

