<app-tabs [tabList]="myTabList"></app-tabs>
<br>
<br>
<app-alert [alertType]="'Warning'"  [alertMessage]="'You Landed on Photos Page'"></app-alert>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">
                Photos List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Title</th>
                            <th>Thumbnail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of photosList; track $index) {
                        <tr>
                            <td>{{$index +1}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.thumbnailUrl}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" (click)="onEdit(item)">Edit</button>
                                <button class="btn btn-sm btn-danger" (click)="onDelete(item.id)">Delete</button>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-warning">
                Photos List
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label>Title</label>
                            <input type="text" required minlength="5" name="title" #titleTem="ngModel"
                                [(ngModel)]="newPhoto.title" class="form-control">
                            @if (titleTem.touched || titleTem.dirty || isFormSubmited) {
                            <div class="text-danger">
                                <!-- -{{titleTem.errors| json}} -->
                                @if(titleTem.errors?.['required']) {
                                <span>This is Required</span>
                                } @if (titleTem.errors?.['minlength']) {
                                <span>Min 5 Char Needed</span>
                                }
                            </div>
                            } 
                        </div>
                        <div class="col-12">
                            <label>Url</label>
                            <input type="text" required minlength="20" name="url" #urlTem="ngModel"
                                [(ngModel)]="newPhoto.url" class="form-control">
                            @if (urlTem.touched || urlTem.dirty || isFormSubmited) {
                            <div class="text-danger"> 
                                @if(urlTem.errors?.['required']) {
                                <span>This is Required</span>
                                } @if (urlTem.errors?.['minlength']) {
                                <span>Min 20 Char Needed</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-12">
                            <label>Thumbnail</label>
                            <input type="text" required name="thumbnailUrl" #thumbnailTem="ngModel"
                                [(ngModel)]="newPhoto.thumbnailUrl" class="form-control">
                            @if (thumbnailTem.touched || thumbnailTem.dirty || isFormSubmited) {
                            <div class="text-danger"> 
                                @if(thumbnailTem.errors?.['required']) {
                                <span>This is Required</span>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            @if (newPhoto.id == 0) {
                            <button class="btn btn-success" [disabled]="!form.valid" (click)="onSavePhoto(form)">Save</button>
                            } @else {
                            <button class="btn btn-warning" (click)="onUpdatePhoto()">Update</button>
                            }


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

